<button mat-menu-item class="menu-button" routerLink="/" routerLinkActive="active" fxLayout="row" fxLayoutAlign='center center' fxFlex>
  <span class='menu-option'>HOME</span>
</button>
<button mat-menu-item class="menu-button" routerLink="/partners" routerLinkActive="active" fxLayout="row" fxLayoutAlign='center center' fxFlex>
  <span class='menu-option'>PARTNERS</span>
</button>
<button mat-menu-item class="menu-button" routerLink="/" routerLinkActive="active" fxLayout="row" fxLayoutAlign='center center' fxFlex>
  <span class='menu-option'>INFO</span>
</button>